.sidebar {
    float: left;
    width: 150px;
    padding: 0px 5px;
	
}

.info {


border-left: 1px solid #eee;
padding-left:10px;
margin-left: 145px;


}

.page-header h1 {
color: #6F4E37; 
}

body {
color: brown; 
}

h1 {
color: brown; 
}

