{% extends "layout.html" %}
{% block content %}
<title>Hello from the Flask Link Data App</title>
{% if name %}    
   <p class='lead'><b> Info: {{name}}</b></p>
{% else %}
  <h1>Hello, World! There seems to be an issue here but, it is just the beginning and there will be plently of time to fix this :^) </h1>
{% endif %}
{% if birth %}
	{% if death %}
	<p> {{birth}} - {{death}}</p>
	{% else %}
	<p> {{birth}}-unknown </p>
	{% endif %}
{% else %}
	{% if death %}
        <p> unknown - {{death}}</p>
        {% else %}
        <p> unknown-unknown </p>
        {% endif %}
{% endif %}

{% if par1 and par2 and p1url and p2url %}
   <p> <b>Parents:</b> <a href="{{p1url}}">{{par1}}</a>, <a href="{{p2url}}">{{par2}}</a><p>
{% else %}
   <p> <b>Parents: </b>unknown</p>
{% endif %}

{% endblock %}
