{% extends "layout.html" %}
{% block content %}

{% if tab == "travels"%}
	<ul class="nav nav-tabs">
	  <li><a data-toggle="tab" href="#home">Home</a></li>
	  <li class="active"><a data-toggle="tab" href="#travels">Travels</a></li>
	  <li><a data-toggle="tab" href="#letters">Letters</a></li>	
	  <li><a data-toggle="tab" href="#people">People</a></li>
	  <li><a data-toggle="tab" href="#affiliations">Affiliations</a></li>
	</ul>
{% elif tab == "people" %}
	<ul class="nav nav-tabs">
	  <li><a data-toggle="tab" href="#home">Home</a></li>
	  <li><a data-toggle="tab" href="#travels">Travels</a></li>
	  <li><a data-toggle="tab" href="#letters">Letters</a></li>	
	  <li class="active"><a data-toggle="tab" href="#people">People</a></li>
	  <li><a data-toggle="tab" href="#affiliations">Affiliations</a></li>
	</ul>
{% elif tab == "letters" %}
	<ul class="nav nav-tabs">
	  <li><a data-toggle="tab" href="#home">Home</a></li>
	  <li><a data-toggle="tab" href="#travels">Travels</a></li>
	  <li class="active"><a data-toggle="tab" href="#letters">Letters</a></li>	
	  <li><a data-toggle="tab" href="#people">People</a></li>
	  <li><a data-toggle="tab" href="#affiliations">Affiliations</a></li>
	</ul>
{% elif tab == "affiliations" %}
        <ul class="nav nav-tabs">
          <li><a data-toggle="tab" href="#home">Home</a></li>
          <li><a data-toggle="tab" href="#travels">Travels</a></li>
	  <li><a data-toggle="tab" href="#letters">Letters</a></li>
          <li><a data-toggle="tab" href="#people">People</a></li>
	  <li class="active"><a data-toggle="tab" href="#affiliations">Affiliations</a></li>
        </ul>
{% else %}
	<ul class="nav nav-tabs">
	  <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
	  <li><a data-toggle="tab" href="#travels">Travels</a></li>
	  <li><a data-toggle="tab" href="#letters">Letters</a></li>	
	  <li><a data-toggle="tab" href="#people">People</a></li>
	  <li><a data-toggle="tab" href="#affiliations">Affiliations</a></li>
	</ul>
{% endif %}

	<div class="tab-content">
	  <div id="home" class="{{ active[0] }}">
	    <h3>HOME</h3>

             <p class="lead">Welcome to the Quaker Networks Explorer! The QNE connects Quaker biographical data and historical materials from Haverford College Quaker and Special Collections. Use the tabs above to explore our growing set of Quaker data.</p>



	  </div>
	  <!--<div id="travels" class="tab-pane fade in">-->
	  <div id="travels" class="{{ active[1] }}">
	    <h3>Travels</h3>

		<center>
<!--
		<form action="http://165.82.13.162/cgi-bin/CEtest.cgi" method="get">

	      		<p>Enter a year and click "search" to list peoples travels in that year. For a range of dates, use the full years i.e. 1870-1880.</p>
	      		<p>
				<input type="text" name="yr"/>
				<input type="submit" value="search"/>
	      		</p>
	      		
			<input type="hidden" name="form-name" value="form4">
        	</form>
-->        	
    {% for message in travelform.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
        <form action = "http://104.236.113.68/" method = post>
         <fieldset>
            <legend>Find common travels by searching a date or a name</legend>
            <center>
            {{ travel2form.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ travel2form.date.label }}<br>
               {{ travel2form.date }}
               <br>
               
               <br>
               {{ travel2form.submit }}
               <br>
            </div>
            
         </fieldset>
         <input type="hidden" name="form-name" value="form4">
      </form>
     		</center>
       

        	<!--<form action="http://165.82.13.162/cgi-bin/CEtravbyperson.cgi" method="get">

      			<p>Enter a persons name and click "search" to list a persons travels.</p>
      			<p>
        			<input type="text" name="name"/>
        			<input type="submit" value="search"/>
      			</p>
      		<input type="hidden" name="form-name" value="form4">
        	</form> -->
    {% for message in travelform.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
        <form action = "http://104.236.113.68/" method = post>
         <fieldset>
            <center>
            {{ travelform.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
            <br>
               {{ travelform.name.label }}<br>
               {{ travelform.name }}
               <br>
               
               <br>
               {{ travelform.submit }}
            </div>
            
         </fieldset>
         <input type="hidden" name="form-name" value="form3">
      </form>
     		</center>
	  </div>

	  <div id="letters" class="{{ active[2] }}">
	    <h3>Letters</h3>


	 <center>

        <!-- 	<form action="http://165.82.13.162/cgi-bin/CEletters.cgi" method="get">
	
        	        <p>Find info about correspondences between people in the Cope Evans Project </p>
                	<p>
                        	<input type="text" name="name"/>
                       		<input type="submit" value="search"/>
                        	<br>
                        	<input type="checkbox" name="option1" value="aut"> Wrote<br>
                        	<input type="checkbox" name="option2" value="recip" checked> Recieved<br>
                </p>

       		 </form> 
       		          <h2 style = "text-align: center;">Search Form</h2>-->

      {% for message in letterform.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}


      <form action = "http://104.236.113.68/" method = post>
         <fieldset>
            <legend>Search for a certain author or recipient</legend>
            {{ letterform.hidden_tag() }}

            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ letterform.name.label }}<br>
               {{ letterform.name }}
               <br>

		{{ letterform.wrote.label }} <br>
		{{ letterform.wrote }}
		<br>
		{{ letterform.received.label }} <br>             
                {{ letterform.received }}
                <br>		

               <br>
               {{ letterform.submit }}
            </div>

         </fieldset>
    <input type="hidden" name="form-name" value="form2">
      </form>
	</center> 

	
	</div>

          <div id="people" class="{{ active[3] }}">
            <h3>People</h3>

			<!-- <a href='/search'>click here to be redirected to the search form </a> -->
		
      {% for message in personform.name.errors %}
         <div>{{ message }}</div>
      {% endfor %}
            
     <!-- <form action = "http://127.0.0.1:5000/search" method = post> -->
      <form action = "http://104.236.113.68/" method = post>
         <fieldset>
         	<center>
            <legend>Search for a particular person</legend>
            
            {{ personform.hidden_tag() }}
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ personform.name.label }}<br>
               {{ personform.name }}
               <br>
               
               <br>
               {{ personform.submit }}
            </div>
            
         </fieldset>
         <input type="hidden" name="form-name" value="form1">
      </form>
			
		</center>
          </div>
        
	<div id="affiliations" class="{{ active[4] }}">
	  <h3>Affiliations</h3>
	{% for message in orgform.name.errors %}
		<div>{{ message }}</div>
	{% endfor %}
	<form action = "http://104.236.113.68/" method = post>
	  <fieldset>
                <center>
            <legend>Search for a particular affiliation</legend>
	   {{ orgform.hidden_tag() }}
	  <div style = font-size:20px; font-weight:bold; margin-left:150px;>
	     {{ orgform.name.label }}<br>
               {{ orgform.name }}
               <br>
 	       <br>
		{{ orgform.submit }}
	 </div>
	</fieldset>
         <input type="hidden" name="form-name" value="form5">
      </form>

                </center>
          </div>
	</div>

</div>
{% endblock %}
