{% extends "layout.html" %}
{% block lettersrecieved %}
      </div>  
      <center>
	<h1>Search for a certain author or recipient</h1>
    	<form action="http://165.82.13.162/cgi-bin/CEletters.cgi" method="get">

      		<p>Find info about correspondences between people in the Cope Evans Project </p>
      		<p>
        		<input type="text" name="name"/>
        		<input type="submit" value="search"/>
			<br>
			<input type="checkbox" name="option1" value="aut"> Wrote<br>
			<input type="checkbox" name="option2" value="recip" checked> Recieved<br>
      		</p>

    	</form> </center>
     </div>
{% endblock %}
