<!doctype html>
<html lang="en"><head> 
<meta charset="utf-8"> 
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags --> 
<meta name="description" content=""> 
<meta name="author" content=""> 
<link rel="icon" href="http://165.82.13.38/images/favicon.ico"> 
<title>Linked Data</title> 
<!-- Bootstrap core CSS --> <link href="http://165.82.13.37/css/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
<link href="http://165.82.13.37/css/style.css" rel="stylesheet"> 
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug --> <link href="http://165.82.13.38/css/bootstrap/css/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> 
<!-- Custom styles for this template --> <link href="http://165.82.13.37/css/bootstrap/css/sticky-footer.css" rel="stylesheet"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
</head> 
<body> <!-- Begin page content --> 
<div class="container"> 
	<div class="page-header"> 
		<h1><a href="http://127.0.0.1:5000/">Linked Data</a></h1> 
	</div>


<div class='container'> <!-- this was container info when we had side results too -->
{% block searchnames %}
{% endblock %}

</div>

</div>


</div>
<footer class="footer"> 
	<div class="container"> 
		<p class="text-muted">Haverford College</p> 
	</div>
</footer>

