{% extends "layout.html" %}
{% block content %}
<title>Hello from the Flask Link Data App</title>
{% if text %}    
	{%if letter[0]%}
   <p class='lead'><b> Info: {{text}}</b></p>
   <ul class="list-group">
   <!-- This first line taken from hello.html 
   <li class='list-group-item'> <p style='margin:0 0 0px;'> <a href={{letter[1]}}>{{letter[0]}}</a> to <a href={{letter[2]}}>{{letter[3]}}</a> </p><p style='font-size:smaller;margin:0 0 0px;'>Subject:{{letter[4]}} </p> </li>
--> 
   <li class='list-group-item'> Title:<a href={{letter[1]}}>{{letter[0]}}</a> </li>
   <li class='list-group-item'> Date:{{letter[2]}} </li>   
   <li class='list-group-item'> Subject:{{letter[3]}} </li>
   <li class='list-group-item'> Creator:<a href={{letter[4]}}>{{letter[5]}}</a> </li>
   <li class='list-group-item'> Recipient:<a href={{letter[7]}} >{{letter[6]}}</a> </li>
   <li class='list-group-item'> Origin:{{letter[9]}} </li>
   <li class='list-group-item'> Destination:{{letter[8]}} </li>
   </ul>
   {%else%}
   <p> There is no letter with id {{text}}! </p>
   
   {% endif %}
   
{% else %}
  <h1>Hello, World! There seems to be an issue here but, it is just the beginning and there will be plently of time to fix this :^) </h1>

{% endif %}

{% endblock %}
