{% extends "layout.html" %}
{% block content %}
<title>Hello from the Flask Link Data App</title>
{% if text %}    
	{%if letter[0]%}
   <p class='lead'><b> Info: {{text}}</b></p>
   <ul class="list-group">
   <li class='list-group-item'> <b>Title:</b> <a href={{letter[1]}}> {{letter[0]}}</a> </li>
   <li class='list-group-item'> <b>Date: </b>{{letter[2]}} </li>   
   <li class='list-group-item'> <b>Subject: </b>{{letter[3]}} </li>
   <li class='list-group-item'> <b>Creator: </b><a href={{letter[4]}}>{{letter[5]}}</a> </li>
   <li class='list-group-item'> <b>Recipient: </b><a href={{letter[7]}} > {{letter[6]}}</a> </li>
   <li class='list-group-item'> <b>Origin: </b>{{letter[9]}} </li>
   <li class='list-group-item'> <b>Destination: </b>{{letter[8]}} </li>
   </ul>
   {%else%}
   <p> There is no letter with id {{text}}! </p>
   
   {% endif %}
   
{% else %}
  <h1>Hello, World! There seems to be an issue here but, it is just the beginning and there will be plently of time to fix this :^) </h1>

{% endif %}

{% endblock %}
